aclocal.m4
aclocal/libtool.m4
aclocal/ltoptions.m4
aclocal/ltsugar.m4
aclocal/ltversion.m4
aclocal/lt~obsolete.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
Makefile.in
Makefile
libtool
include/ac_config.h
include/cc_config.h
*.o
*.lo
*.a
*.la
include/Makefile
include/stamp-h1
*.h.in
*.swp
.deps
.libs
.dirstamp
src/image
src/image.elf
src/image.lst
src/image.bin
src/image.hex
